#exaport .clear {
    display: block;
    height: 1px;
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
}
#exaport .clear span {
    display: none;
}


#exaport #exaport-view-mod textarea {
    width: 95%;
    height: 200px !important;
    font-family: Verdana;
    font-size: 12px;
}

#exaport .view-group {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 98%;
}

#exaport #view-options {
    width: 298px;
    float: left;
}
#exaport #view-preview {
    border: 1px solid #ddd;
    overflow: auto;
}

#exaport .view-group-header {
    background: url(../../../theme/formal_white/pix/gradient_h.jpg);
}
#exaport .view-group-header div {
    padding: 6px 5px 3px 3px;
    font-weight: bold;
    /*background: url(../pix/arrow_group_right.png) 4px 7px no-repeat;*/
}
#exaport .view-group-open .view-group-header {
    border-bottom: 1px solid #ddd;
}
#exaport .view-group-open .view-group-header div {
    background-image: url(../pix/arrow_group_down.png);
}
#exaport #portfolioItems .view-group-header div {
    background: url(../pix/noteitpj.gif) 4px 7px no-repeat;
}
#exaport #portfolioExtras .view-group-header div {
    background: url(../pix/bookmarksnotes.png) 4px 7px no-repeat;
}
#exaport #view-preview .view-group-header div {
    /*background: url(../pix/myportfolio.png) 4px 7px no-repeat;*/
}

#exaport .view-group-body {
    display: none;
}
#exaport .view-group-open .view-group-body {
    display: block;
}
#exaport .view-group-header .change {
    font-weight: normal;
    font-size: 12px;
}
#exaport .view-group-header:hover .change {
    text-decoration: underline;
}
#exaport .view-group-open .view-group-header .change {
    display: none;
}

#exaport #view-share-text {
    font-weight: normal;
}

/*** PORTFOLIO OPTIONS ***/
#exaport #portfolioItems ul {
    max-height: 300px;
    overflow: auto;
}
#exaport .portfolioOptions {
    list-style: none;
    margin: 0;
    padding: 0;
}
#exaport .portfolioOptions li {
    cursor: move;
    margin: 0;
    background: url(../pix/view_item_available.png) 6px 5px no-repeat;
    padding: 2px 2px 2px 26px;
}
#exaport .portfolioOptions li.selected {
    background-color: #d5f0d8;
    background-image: url(../pix/view_item_selected.png);
}


/*** PORTFOLIO DESIGN ***/
#exaport .portfolioDesignBlocks {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 200px;
}
#exaport .portfolioDesignBlocks-left li {
    margin-left: 0;
}
#exaport .portfolioDesignBlocks li {
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
    margin: 10px;
    list-style-type: none;
}

#exaport .portfolioDesignBlocks li .header {
    font-size: 1.05rem;
    font-weight: bold;
    cursor: move;
    padding: 4px 20px 4px 8px;
}
#exaport .portfolioDesignBlocks li .name {
    padding: 4px 8px;
}
#exaport .portfolioDesignBlocks li .email {
    padding: 4px 8px;
}
#exaport .portfolioDesignBlocks li .body {
    padding: 4px 8px;
    overflow: hidden;
}
#exaport .portfolioDesignBlocks li .delete {
    position: absolute;
    right: 0;
    top: 5px;
    /*background: url(../pix/delete.gif) center center no-repeat;*/
    width: 26px;
    height: 26px;
    cursor: pointer;
    color: red;
    opacity: 0.5;
}
#exaport .portfolioDesignBlocks li .delete:hover {
    opacity: 1;
}
#exaport .portfolioDesignBlocks li .edit {
    position: absolute;
    right: 25px;
    top: 5px;
    /*background: url(../pix/edit.png) center center no-repeat;*/
    width: 26px;
    height: 26px;
    cursor: pointer;
}

#exaport .portfolioDesignBlocks li .delete span,
.portfolioDesignBlocks li .edit span,
.portfolioDesignBlocks li .unsaved span {
    display: none;
}

#exaport .portfolioDesignBlocks li .unsaved {
    position: absolute;
    right: 30px;
    top: 0;
    background: url('../pix/unsaved.png') no-repeat center center;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

#exaport .portfolioDesignBlocks li.block-placeholder {
    border: 3px dotted #ddd;
    visibility: visible;
    min-height: 60px;
}
#exaport .portfolioDesignBlocks li .default-text {
    color: #999;
}

/* PORTFOLIO ELEMENTS */
#exaport #blocktype-list {
    clear: left;
    font-size: .9167em;
    padding: 0 20px;
}

#exaport #blocktype-list ul {
    list-style-type: none;
    margin: 0.5rem 0 1rem;
}
#exaport #blocktype-list li {
    display: table-cell;
    vertical-align: top;
    padding: 10px 5px 5px 5px;
    margin: 0 0 5px 0;
    width: 100px;
    line-height: 1.4em;
    white-space: normal;
}
#exaport .ie7 #blocktype-list li {
    z-index: 100;
    display: inline;
    float: left;
}
#exaport #blocktype-list .blocktype-radio {
    border: none;
    cursor: default; /* ie fix */
}
#exaport #blocktype-list .blocktype h4 {
    margin: 3px 0;
}

#exaport .js-hidden {
    position: absolute;
    top: 0;
    visibility: hidden;
}

#exaport .select_layout {
    text-align: center;
    margin: 0px auto;
}

#exaport .cb {
    clear: both;
    border-color: #D1D1D1; /*-moz-use-text-color -moz-use-text-color*/
    border-style: none none dotted;
    border-width: 0 0 1px;
}

#exaport .select_layout .fl {
    margin: 0 20px 20px 0;
    text-align: center;
    width: 150px;
}
#exaport .fl {
    float: left;
}

#exaport .table_share,
#exaport .table_share table {
    width: 100%;
}

/* layouts */
#exaport .table_layout {
    width: 100%;
    border: 0;
    padding: 0;
    border-collapse: collapse;
    table-layout: fixed;
}
#exaport .table_layout td {
    vertical-align: top;
    padding:0;
}

#exaport .layout1 td {
    width: 100%;
}
#exaport .layout2 td {
    width: 50%;
}
#exaport .layout3 .td1 {
    width: 67%;
}
#exaport .layout4 .td1 {
    width: 33%;
}
#exaport .layout5 td {
    width: 33%;
}
#exaport .layout6 .td1,
#exaport .layout6 .td3 {
    width: 25%;
}
#exaport .layout7 .td1,
#exaport .layout7 .td3 {
    width: 15%;
}
#exaport .layout8 td {
    width: 25%;
}
#exaport .layout9 .td1,
#exaport .layout9 .td4 {
    width: 20%;
}
#exaport .layout9 .td2, 
#exaport .layout9 .td3 {
    width: 30%;
}
#exaport .layout10 td {
    width: 20%;
}

#exaport .view-middle {
    width: 99%;
}

#exaport .item_info .picture {
    height: 100px;
}

#exaport #link_thumbnail {
    margin-bottom: -625px;
    margin-right: -825px;
    width: 1024px;
    height: 768px;
    border: solid 5px #cccccc;
    -moz-transform: scale(0.2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.2);
    -webkit-transform-origin: 0 0;
}

#exaport #page-content #region-main .region-content {
    width: 100%;
}
#exaport #page-content #region-main {
    width:100%;
}
#exaport table.mceLayout {
    width: 430px !important;
}

#exaport input.submit {
    cursor: pointer;
}

#blockform .not-empty-check {
    color: red;
    display: none;
    padding: 5px;
}

#blockform input[name=block_title],
#exaport input[name=headline] {
    width: 95%;
}

#blockform #add-items-list {
    max-height: 400px;
    overflow: auto;
}
#blockform #add-items-list .add-item {
    cursor: pointer;
    padding: 3px;
}
#blockform #add-items-list .add-item * {
    cursor: pointer;
}
#blockform #add-items-list .add-item:hover {
    padding: 3px;
    /*border: 1px solid black;*/
}
#blockform #add-items-list .add-item.checked {
    padding: 3px;
    background: #DEFEDE;
}
#blockform #add-items-list .add-item-category {
    padding: 10px 3px 0 3px;
    font-weight: bold;
}
#blockform #add-items-list .add-item-sub .add-item-category {
    padding-top: 0;
}
#blockform #add-items-list .add-item-sub {
    margin-left: 30px;
}
#blockform label {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
#blockform .mceEditor {
    background-color: #f9f9f9;
}

#exaport .course-group-title {
    cursor: pointer;
    padding-left: 30px;
    background: url('../pix/group_closed.png') no-repeat 15px 5px;
}
#exaport .course-group-open .course-group-title {
    background-image: url('../pix/group_open.png');
}
#exaport .course-group-content {
    display: none;
}
#exaport .course-group-open .course-group-content {
    display: block;
}

#exaport .edu_qualdescription,
#exaport .employ_positiondescription,
#exaport .certif_description,
#exaport .public_description,
#exaport .mbrship_description {
    display: block;
}

#exaport .resume_attachments li {
    border: none;
    margin: 0px;
}

.modal .exaport-helpicon {
    cursor: pointer;
}

#exaport .layout_settings.view-group {
 border: none;
}
#exaport .view-group-header {
    text-align: left;
    padding: 5px;
    padding-left: 25px;
    cursor: pointer;
    background: url('../pix/group_closed.png') no-repeat 10px;
}
#exaport .view-group-open .view-group-header {
    background: url('../pix/group_open.png') no-repeat 10px;
}
#exaport .view-group .view-group-content {
    display: none;
}
#exaport .view-group-open .view-group-content {
    display: block;
}
#exaport #exaport-view-mod .layout_settings textarea {
    height: auto !important;
}

#exaport .view-additional-help {
    font-size: .9167em;
}
#exaport #more_viewcontent_info {
    margin-bottom: 20px;
}

/*popovers on block adders:*/
.tippy-box[data-theme~='exaport'] {
    background-color: #ffffff;
    border: solid 1px #b3b3b3;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.tippy-box[data-theme~='exaport'] .external-link:before {
    content: url("../pix/url_12.png");
    color: rgba(0, 0, 0, 0.5);
    margin-right: 3px;
}
.tippy-box[data-theme~='exaport'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #b3b3b3;
    bottom: -8px;
}
.tippy-box[data-theme~='exaport'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #b3b3b3;
    top: -8px;
}
.tippy-box[data-theme~='exaport'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #b3b3b3;
}
.tippy-box[data-theme~='exaport'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #b3b3b3;
}
.tippy-box[data-theme~='exaport'] .popover-title {
    font-weight: bold;
}
.tippy-box[data-theme~='exaport'] hr {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

#view-preview a.edit {
    color: #7a7a7a;
}

.exaport-icon.exaport-view-block-adder-icon,
.exaport-icon.exaport-view-block-view-icon {
    color: #7a7a7a;
}
.exaport-icon.exaport-view-block-adder-icon:hover,
.exaport-icon.exaport-view-block-view-icon:hover {
    color: #505050;
}

.exaport-icon.exaport-view-block-view-icon {
    margin: 0.5rem 1rem 1rem;
}
