.excomdos_cont .excomdos_clear {
    clear: both;
}

.excomdos_cont .excomdos_listtable {
    width: 100%;
    border: 1px solid #E3DFD4;
    border-collapse: collapse;
}

.excomdos_cont .excomdos_listtable td, .excomdos_cont .excomdos_listtable thead th {
    padding: 0.5em;
    border: 1px solid #cacaca;
    border-collapse: collapse;
    vertical-align: top;
}

.excomdos_cont .excomdos_catselect {
    margin-bottom: 1.2em;
}

.excomdos_cont .excomdos_cat {
    margin-bottom: 1.2em;
}

.excomdos_cont.layout_clean_old .excomdos_changeview {
    float:right;
}

.excomdos_cont .excomdos_changeview img {
    margin-left: 0.8em;
}

.excomdos_cont .excomdos_padlf {
    margin-right: 2em;
}


.excomdos_cont .excomdos_listtable thead th {
    background-color: #E6E6E6;
    font-size: 0.9rem;
}


.excomdos_cont .excomdos_subcol {
    font-size: 0.9rem;
}

.excomdos_cont .excomdos_listtable tr:nth-child(2n+2) {
  background-color: #f9f9f9;
}

.excomdos_cont .excomdos_listicon {
    width:42px;
    text-align: center;
}


.excomdos_cont .excomdos_listcomments {
    font-size: 0.9rem;
}

.excomdos_cont .excomdos_listtable tr td {
    vertical-align: middle;
}

.excomdos_cont .excomdos_listtable tr td.excomdos_listlastcol {
    word-wrap: break-word;.
    max-width: 300px;
    min-width: 200px;
     overflow: hidden;
     width: 2em;
}

.excomdos_cont .excomdos_subcollast {
    border-left: none;
}

.excomdos_cont .excomdos_listcomments {
    padding-right: 1em;
}

.excomdos_cont .excomdos_listicons {
    float: right;
}


.excomdos_cont.layout_clean_old .excomdos_tile {
    width:12.5em;
    height:12.5em;
    border: 1px solid #E3DFD4;
    padding: 0.625em;
    overflow:hidden;
    float:left;
    margin:0.5em;

    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21);
}
.excomdos_cont.layout_clean_old .excomdos_tile:hover {
    box-shadow: 1px 1px 3px rgba(36, 36, 36, 0.5);
}
.excomdos_cont .excomdos_tile.ui-state-active {
    background: #ffc;
}
.excomdos_cont .excomdos_tile.ui-state-hover {
    background: #ccc;
}

.excomdos_cont.layout_clean_old .excomdos_tileimage {
    padding-bottom: 0.2em;
    height: 7.361em;
    width: 12.5em;
    text-align: center;
}

.excomdos_cont.layout_moodle_bootstrap .excomdos_tileimage a,
.excomdos_cont.layout_exaport_bootstrap .excomdos_tileimage a {
    max-width: 200px;
}

@media (min-width: 568px) {
    .excomdos_cont.layout_moodle_bootstrap .excomdos_tileimage a,
    .excomdos_cont.layout_exaport_bootstrap .excomdos_tileimage a {
        max-width: 80%;
    }
}


.excomdos_cont .excomdos_tilehead {
    font-size: 0.9rem;
    padding-bottom: 0.3em;
    position: relative;
}

.excomdos_cont.layout_moodle_bootstrap .card-header,
.excomdos_cont.layout_exaport_bootstrap .card-header {
    border: 0;
    background-color: transparent;
}

.excomdos_cont.layout_moodle_bootstrap .card-footer,
.excomdos_cont.layout_exaport_bootstrap .card-footer {
    background-color: #f9f9f9;
    border-color: #e8e8e8;
}

.excomdos_cont .excomdos_tileimage img {
    max-width: 100%;
}
.excomdos_cont.layout_exaport_bootstrap .excomdos_tileimage img,
.excomdos_cont.layout_moodle_bootstrap .excomdos_tileimage img {
    max-height: 150px;
}
.excomdos_cont.layout_clean_old .excomdos_tileimage img {
    max-width: 12.5em;
    max-height: 7.361em;
}

.excomdos_cont.layout_moodle_bootstrap .card-extitle,
.excomdos_cont.layout_exaport_bootstrap .card-extitle {
    padding: 0.75rem 1.25rem;
}

.excomdos_cont .excomdos_tileinfo_time {
    font-size: 85%;
}
.excomdos_cont.layout_clean_old .excomdos_tileinfo_time {
    font-size: 70%;
    display: block;
    overflow: hidden;
}
.excomdos_cont .excomdos_tilehead .excomdos_tileinfo_type .type_title {
    font-size: 85%;
    margin-left: 3px;
}
.excomdos_cont.layout_clean_old .excomdos_tilehead .excomdos_tileinfo_type .type_title {
    font-size: 70%;
    margin-left: 3px;
    opacity: 0.75;
}

.excomdos_cont .excomdos_tilehead .excomdos_tileedit {
    display: block;
}
.excomdos_cont.layout_clean_old .excomdos_tilehead .excomdos_tileedit {
    position: absolute;
    right: 0;
    top: 0;
}

.excomdos_tileedit a {
    margin-left: 5px;
}


.excomdos_printer_version {
    float: right;
}

.excomdos_cont .exomdos_tiletitle {
    overflow:hidden;
    word-wrap: break-word;
}
.excomdos_cont .exomdos_tiletitle a {
    color: #000;
}
.excomdos_cont.layout_clean_old .exomdos_tiletitle {
    font-size: 85%;
}

.excomdos_cont .excomdos_additem {
    font-size: 0.85rem;
    margin: 2.5em 0;
}
.excomdos_cont.layout_clean_old .excomdos_additem {
    height: 60px;
}
.excomdos_cont.excomdos_cont-type-shared .excomdos_additem {
    font-size: 0.85rem;
    margin: 0;
}
.excomdos_cont.layout_clean_old .excomdos_additem_content {
    float: left;
}

.excomdos_cont .excomdos_additem span {
    text-align: center;
    margin-right: 1.5em;
    vertical-align: middle;
    display:inline-block;
}

.excomdos_cont .excomdos_additem .exaport-icon {
    margin-right: 0;
}

.excomdos_cont .excomdos_changeview span {
    vertical-align: middle;
    display:inline-block;
}

.excomdos_cont .excomdos_additem img,
.excomdos_cont .excomdos_additem .exaport-icon {
    margin-bottom: 0.3em;
}

.excomdos_cat_path .cat_path_item.active {
    font-weight: bold;
}
.excomdos_cat_path .cat_path_delimeter {
    margin: 1rem 7px;
}
.excomdos_cat_path img {
    margin-right: 3px;
}
.excomdos_cont a > img {
    text-decoration: none !important;
    border:0px !important;
    outline:none;
    border-width: 0px;
    outline-width:0px;
    border-bottom: none;
}

.exaport-icon.exaport-items-type-icon {
    color: #cccccc;
}

#exaport .exaport-icon svg {
    color: #7a7a7a;
}

#exaport .excomdos_additem a {
    color: #303030;
}

#exaport .excomdos_tileimage a {
    display: block;
}

#exaport .mergedSvgIcon {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
