.clear {
	display: block;
	height: 1px;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}
.clear span {
	display: none;
}


#view-mod textarea {
	width: 95%;
	height: 200px !important;
	font-family: Verdana;
	font-size: 12px;
}

.view-group {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	width: 98%;
}

#view-options {
	width: 298px;
	float: left;
}
#view-preview {
	border: 1px solid #ddd;
	overflow: auto;
}

.view-group-header {
	background: url(../../../theme/formal_white/pix/gradient_h.jpg);
}
.view-group-header div {
	padding: 6px 5px 3px 28px;
	font-weight: bold;
	background: url(../pix/arrow_group_right.png) 4px 7px no-repeat;
}
.view-group-open .view-group-header {
	border-bottom: 1px solid #ddd;
}
.view-group-open .view-group-header div {
	background-image: url(../pix/arrow_group_down.png);
}
#portfolioItems .view-group-header div {
	background: url(../pix/noteitpj.gif) 4px 7px no-repeat;
}
#portfolioExtras .view-group-header div {
	background: url(../pix/bookmarksnotes.png) 4px 7px no-repeat;
}
#view-preview .view-group-header div {
	background: url(../pix/myportfolio.png) 4px 7px no-repeat;
}

.view-group-body {
	display: none;
}
.view-group-open .view-group-body {
	display: block;
}
.view-group-header .change {
	font-weight: normal;
	font-size: 12px;
}
.view-group-header:hover .change {
	text-decoration: underline;
}
.view-group-open .view-group-header .change {
	display: none;
}



#view-share-text {
	font-weight: normal;
}

/*** PORTFOLIO OPTIONS ***/
#portfolioItems ul {
	max-height: 300px;
	overflow: auto;
}
.portfolioOptions {
	list-style: none;
	margin: 0;
	padding: 0;
}
.portfolioOptions li {
	cursor: move;
	margin: 0;
	background: url(../pix/view_item_available.png) 6px 5px no-repeat;
	padding: 2px 2px 2px 26px;
}
.portfolioOptions li.selected {
	background-color: #d5f0d8;
	background-image: url(../pix/view_item_selected.png);
}


/*** PORTFOLIO DESIGN ***/
.portfolioDesignBlocks {
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 20px;
	/*
	width: 50%;
	float: left;
	*/
}
.portfolioDesignBlocks-left li {
	margin-left: 0;
	/*
	float: right;
	*/
}
.portfolioDesignBlocks li {
	background: #fff;
	border: 1px solid #ddd;
	position: relative;
/*	min-width: 300px;*/
	margin: 10px;
	list-style-type: none;
}

.portfolioDesignBlocks li .header {
	cursor: move;
	padding: 4px 20px 4px 8px;
}
.portfolioDesignBlocks li .body {
	padding: 4px 8px;
	overflow: hidden;
}
.portfolioDesignBlocks li .delete {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../pix/delete.gif) center center no-repeat;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.portfolioDesignBlocks li .edit {
	position: absolute;
	right: 30px;
	top: 0;
	background: url(../pix/edit.png) center center no-repeat;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.portfolioDesignBlocks li .delete span, .portfolioDesignBlocks li .edit span,  .portfolioDesignBlocks li .unsaved span {
	display: none;
}

.portfolioDesignBlocks li .unsaved {
	position: absolute;
	right: 30px;
	top: 0;
	background: url('../pix/unsaved.png') no-repeat center center;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.portfolioDesignBlocks li.block-placeholder {
	border: 3px dotted #ddd;
	visibility: show;
	min-height: 20px;
}
.portfolioDesignBlocks li .default-text {
	color: #999;
}

/* PORTFOLIO ELEMENTS */
#blocktype-list {
    clear: left;
    font-size: .9167em;
    padding: 0 20px;
}

#blocktype-list ul {
    list-style-type: none;
    margin: 0;
}
#blocktype-list li {
    display: table-cell;
    vertical-align: top;
    padding: 10px 5px 5px 5px;
    margin: 0 0 5px 0;
    width: 100px;
    line-height: 1.4em;
    white-space: normal;
}
.ie7 #blocktype-list li {
    z-index: 100;
    display: inline;
    float: left;
}
#blocktype-list .blocktype-radio {
    border: none;
    cursor: default; /* ie fix */
}
#blocktype-list .blocktype h4 {
    margin: 3px 0;
}

.js-hidden {
    position: absolute;
    top: 0;
    visibility: hidden;
}

.select_layout {
	text-align: center;
	margin: 0px auto;
}

.cb {
    clear: both;
    border-color: -moz-use-text-color -moz-use-text-color #D1D1D1;
    border-style: none none dotted;
    border-width: 0 0 1px;
}

.select_layout .fl {
    margin: 0 20px 20px 0;
    text-align: center;
    width: 150px;
}
.fl {
    float: left;
}

.table_share, .table_share table {
	width: 100%
}

/* layouts */
.table_layout {
	width: 100%;
	border:0;
	padding:0;
	border-collapse:collapse;	
}
.table_layout td {
	vertical-align: top;
	padding:0;
}

.layout1 td {
	width: 100%;
}
.layout2 td {
	width: 50%;
}
.layout3 .td1 {
	width: 67%;
}
.layout4 .td1 {
	width: 33%;
}
.layout5 td {
	width: 33%;
}
.layout6 .td1, .layout6 .td3 {
	width: 25%;
}
.layout7 .td1, .layout7 .td3 {
	width: 15%;
}
.layout8 td {
	width: 25%;
}
.layout9 .td1, .layout9 .td4 {
	width: 20%;
}
.layout9 .td2, .layout9 .td3 {
	width: 30%;
}
.layout10 td {
	width: 20%;
}

#block_form {
	overflow: visible;
	position: absolute;
}

.view-middle {
	width: 99%;
}

.item_info .picture {
	height: 100px;
}

#link_thumbnail {
    margin-bottom: -625px;
    margin-right: -825px;
    width: 1024px;
    height: 768px;
    border: solid 5px #cccccc;
    -moz-transform: scale(0.2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.2);
    -webkit-transform-origin: 0 0;
}

#page-content #region-main .region-content {
	width: 100%;
}
#page-content #region-main {
	width:100%;
}
table.mceLayout {
    width: 430px!important;
}


