<li class="exaport-competence-node mb-1">
    {{#isdescriptor}}
    {{#summary}}
    <span class="text-success">&#10003; {{title}}</span>
    {{/summary}}
    {{^summary}}
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="exaport-competence-{{id}}"
               value="{{id}}" data-region="competence-checkbox" {{#checked}}checked{{/checked}}>
        <label class="custom-control-label" for="exaport-competence-{{id}}">{{title}}</label>
    </div>
    {{/summary}}
    {{/isdescriptor}}
    {{#isgroup}}
    <details open>
        <summary>{{title}}</summary>
        {{#haschildren}}
        <ul class="list-unstyled ml-4 mt-1">
            {{#children}}
                {{> block_exaport/item_competence_node}}
            {{/children}}
        </ul>
        {{/haschildren}}
    </details>
    {{/isgroup}}
</li>
