<div class="exaport-item-competences" data-region="item-competences" data-itemid="{{itemid}}">
    <p>{{intro}}</p>

    {{#summary}}
        {{> block_exaport/item_competence_summary}}
    {{/summary}}

    {{#editable}}
    <button type="button" class="btn btn-primary" data-action="open-competence-picker" data-itemid="{{itemid}}">
        {{{addicon}}} {{addlabel}}
    </button>
    {{/editable}}
</div>
