<div class="exaport-item-competences" data-region="item-competences">
    <p>{{intro}}</p>

    {{> block_exaport/item_competence_summary}}

    {{#editable}}
    <button type="button" class="btn btn-primary" data-action="open-competence-picker">
        {{{addicon}}} {{addlabel}}
    </button>
    {{/editable}}

</div>
