{{#hasheading}}
<div class="exaport-item-block__header">
    <h5 class="exaport-item-block__title">{{heading}}</h5>
    {{#canedit}}<a class="btn btn-link btn-sm p-0" href="{{editurl}}">{{#str}}edit, core{{/str}}</a>{{/canedit}}
    {{#candelete}}
    <a class="btn btn-link btn-sm text-danger p-0" href="{{deleteurl}}">{{#str}}delete, core{{/str}}</a>
    {{/candelete}}
</div>
{{/hasheading}}
{{^hasheading}}
<div class="exaport-item-block__header exaport-item-block__header--actions-only">
    {{#canedit}}<a class="btn btn-link btn-sm p-0" href="{{editurl}}">{{#str}}edit, core{{/str}}</a>{{/canedit}}
    {{#candelete}}<a class="btn btn-link btn-sm text-danger p-0" href="{{deleteurl}}">{{#str}}delete, core{{/str}}</a>{{/candelete}}
</div>
{{/hasheading}}
{{#hascontent}}<div class="exaport-item-block__content">{{{contenthtml}}}</div>{{/hascontent}}
{{^hascontent}}<p class="text-muted mb-0">{{emptycontenttext}}</p>{{/hascontent}}
