{{!
    This file is part of Exabis Eportfolio (extension for Moodle)

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_exaport/my_shares_page

    Overview table of the current user's own items/categories/views that are
    shared (with users, groups, or externally/shareall).

    Context variables:
        hasrows         - Boolean: at least one share row
        rows            - List of rows:
                            typeicon (pre-rendered HTML), typelabel, title, titlenamelower,
                            editurl, shareurl, sharedwithtext, sharetooltip, hastooltip,
                            commentcount, ellipsisicon, editicon, shareicon, deleteicon,
                            editlabel, sharelabel, deletelabel
        nothingtext     - Localised text shown when there is nothing shared
        headertitle     - Localised column header "Title"
        headertype      - Localised column header "Type"
        headershared    - Localised column header "Shared with"
        headercomments  - Localised column header "Comments"
        headeractions   - Empty string (no label for the actions column)
        searchcontrols  - Pre-rendered HTML for search input + sort dropdown
}}
<div class="block_exaport_my_shares">
    {{#searchcontrols}}
    <div class="d-flex flex-wrap gap-2 mb-3 align-items-center">
        {{{searchcontrols}}}
    </div>
    {{/searchcontrols}}
    {{^hasrows}}
        <p>{{nothingtext}}</p>
    {{/hasrows}}
    {{#hasrows}}
        <table class="generaltable table" style="width: 100%;">
            <thead>
                <tr>
                    <th>{{headertitle}}</th>
                    <th>{{headertype}}</th>
                    <th>{{headershared}}</th>
                    <th>{{headercomments}}</th>
                    <th class="text-right" style="width:3rem;">{{headeractions}}</th>
                </tr>
            </thead>
            <tbody class="exaport-view-section" data-exaport-view="1">
                {{#rows}}
                    <tr class="exaport-flat-item"
                        data-item-name="{{titlenamelower}}"
                        data-item-date="0">
                        <td><a href="{{editurl}}">{{{typeicon}}}{{title}}</a></td>
                        <td>{{typelabel}}</td>
                        <td>
                            {{#hastooltip}}
                            <span data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  data-bs-title="{{sharetooltip}}"
                                  data-toggle="tooltip"
                                  title="{{sharetooltip}}">
                                {{sharedwithtext}}
                            </span>
                            {{/hastooltip}}
                            {{^hastooltip}}{{sharedwithtext}}{{/hastooltip}}
                        </td>
                        <td>{{commentcount}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="dropdown-toggle btn btn-sm btn-light"
                                   href="#"
                                   role="button"
                                   data-toggle="dropdown"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    {{{ellipsisicon}}}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="{{editurl}}">{{{editicon}}} {{editlabel}}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{shareurl}}">{{{shareicon}}} {{sharelabel}}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">{{{deleteicon}}} {{deletelabel}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {{/rows}}
            </tbody>
        </table>
    {{/hasrows}}
</div>
