
    <div class="alert alert-info small block_exaport_message">
        <p class="my-0">
            {{message}}
            <a href="{{url_to_block_settings_page}}" class="ml-3 btn btn-info btn-sm text-white">
                {{#pix}} i/reload, core, {{#str}} settings_exaport_reload_settings_page, block_exaport {{/str}} {{/pix}} {{#str}} settings_exaport_reload_settings_page, block_exaport {{/str}}
            </a>
        </p>
    </div>
