{{!
    This file is part of Exabis Eportfolio (extension for Moodle)

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_exaport/shared_with_me_page

    Overview table of items/categories/views that other users have shared with
    the current user, either directly or via a group/cohort share.

    Context variables:
        hasrows           - Boolean: at least one share row
        rows              - List of rows:
                              typeicon (pre-rendered HTML), typelabel, title, titlenamelower,
                              url, ownername, coursename, sharemodetext, sharetooltip, hastooltip,
                              commentcount, hascomments
        nothingtext       - Localised text shown when nothing is shared with the user
        headertitle       - Localised column header "Title"
        headertype        - Localised column header "Type"
        headeruser        - Localised column header "Shared by"
        headercourse      - Localised column header "Course"
        headersharedwith  - Localised column header "Shared with"
        headercomments    - Localised column header "Comments"
        searchcontrols    - Pre-rendered HTML for search input + sort dropdown
}}
<div class="block_exaport_shared_with_me">
    {{#searchcontrols}}
    <div class="d-flex flex-wrap gap-2 mb-3 align-items-center">
        {{{searchcontrols}}}
    </div>
    {{/searchcontrols}}
    {{^hasrows}}
        <p>{{nothingtext}}</p>
    {{/hasrows}}
    {{#hasrows}}
        <table class="generaltable table table-striped table-hover exaport-share-overview-table" style="width: 100%;">
            <thead>
                <tr>
                    <th>{{headertitle}}</th>
                    <th>{{headertype}}</th>
                    <th>{{headeruser}}</th>
                    <th>{{headercourse}}</th>
                    <th>{{headersharedwith}}</th>
                    <th>{{headercomments}}</th>
                </tr>
            </thead>
            <tbody class="exaport-view-section" data-exaport-view="1">
                {{#rows}}
                    <tr class="exaport-flat-item"
                        data-item-name="{{titlenamelower}}"
                        data-item-date="0">
                        <td><a href="{{url}}">{{title}}</a></td>
                        <td>{{{typeicon}}}&nbsp;{{typelabel}}</td>
                        <td>{{ownername}}</td>
                        <td>{{coursename}}</td>
                        <td>
                            {{#hastooltip}}
                            <span data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  data-bs-title="{{sharetooltip}}"
                                  data-toggle="tooltip"
                                  title="{{sharetooltip}}">
                                {{sharemodetext}}
                            </span>
                            {{/hastooltip}}
                            {{^hastooltip}}{{sharemodetext}}{{/hastooltip}}
                        </td>
                        <td>{{#hascomments}}{{commentcount}}{{/hascomments}}</td>
                    </tr>
                {{/rows}}
            </tbody>
        </table>
    {{/hasrows}}
</div>
